In [1]:
import pandas as pd
import json

In [18]:
df = pd.read_excel(r'C:\Users\l\Desktop\大连数据智能大赛数据\交通出行\公交GPS轨迹\2019年7月公交GPS轨迹数据\辽A·70007.xlsx')

In [19]:
data = {
    '7-1':[]
}
for row in df.loc[0:2000].itertuples():
    data['7-1'].append({
        'lng':row[5],
        'lat':row[6],
        'value':[row[7]+2 if row[7] == 0 else row[7]][0]
    })


with open(r'C:\Users\l\Desktop\JavaScript-Demo\leaflet测试\data.json', 'w') as f:
    json.dump(data,f)

In [20]:
new_df = pd.DataFrame(data)
new_df

            lng        lat  value
0    121.586830  38.978985      1
1    121.586863  38.978992      1
2    121.586877  38.978983      1
3    121.586863  38.978953      1
4    121.586882  38.978950      1
..          ...        ...    ...
205  121.582923  38.967668     44
206  121.583847  38.974840     49
207  121.586290  38.979472      1
208  121.586378  38.979518      1
209  121.586803  38.979102     11

[210 rows x 3 columns]

In [23]:
new_df.to_json('/Users/afetmin/Desktop/JavaScript-Demo/leaflet测试/data.json')