In [24]:
import pandas as pd
import json

In [3]:
df = pd.read_excel('/Users/afetmin/Desktop/公交GPS轨迹/2019年7月公交GPS轨迹数据/賽A﹞70001.xlsx')

In [26]:
data = {
    '7-1':[]
}
for row in df.loc[0:209].itertuples():
    data['7-1'].append({
        'lng':row[5],
        'lat':row[6],
        'value':[row[7]+1 if row[7] == 0 else row[7]][0]
    })

data

{'7-1': [{'lng': 121.58683, 'lat': 38.978985, 'value': 1},
  {'lng': 121.586863, 'lat': 38.978992, 'value': 1},
  {'lng': 121.586877, 'lat': 38.978983, 'value': 1},
  {'lng': 121.586863, 'lat': 38.978953, 'value': 1},
  {'lng': 121.586882, 'lat': 38.97895, 'value': 1},
  {'lng': 121.586843, 'lat': 38.979007, 'value': 1},
  {'lng': 121.58684, 'lat': 38.979, 'value': 1},
  {'lng': 121.58685, 'lat': 38.978987, 'value': 1},
  {'lng': 121.586883, 'lat': 38.978945, 'value': 1},
  {'lng': 121.586882, 'lat': 38.97898, 'value': 1},
  {'lng': 121.586878, 'lat': 38.979005, 'value': 1},
  {'lng': 121.58689, 'lat': 38.978983, 'value': 1},
  {'lng': 121.586907, 'lat': 38.978958, 'value': 1},
  {'lng': 121.58689, 'lat': 38.978962, 'value': 1},
  {'lng': 121.586867, 'lat': 38.978992, 'value': 1},
  {'lng': 121.586862, 'lat': 38.979003, 'value': 1},
  {'lng': 121.586843, 'lat': 38.979005, 'value': 1},
  {'lng': 121.586868, 'lat': 38.979007, 'value': 1},
  {'lng': 121.586855, 'lat': 38.979025, 'value': 1},
  {'lng': 121.586888, 'lat': 38.978983, 'value': 1},
  {'lng': 121.586912, 'lat': 38.978948, 'value': 1},
  {'lng': 121.586915, 'lat': 38.978948, 'value': 1},
  {'lng': 121.586882, 'lat': 38.978983, 'value': 1},
  {'lng': 121.586897, 'lat': 38.978975, 'value': 1},
  {'lng': 121.586878, 'lat': 38.978977, 'value': 1},
  {'lng': 121.586857, 'lat': 38.978992, 'value': 1},
  {'lng': 121.586818, 'lat': 38.979002, 'value': 1},
  {'lng': 121.586828, 'lat': 38.979015, 'value': 1},
  {'lng': 121.586845, 'lat': 38.979005, 'value': 1},
  {'lng': 121.586842, 'lat': 38.978997, 'value': 1},
  {'lng': 121.586865, 'lat': 38.978982, 'value': 1},
  {'lng': 121.586848, 'lat': 38.97898, 'value': 1},
  {'lng': 121.586882, 'lat': 38.978977, 'value': 1},
  {'lng': 121.586883, 'lat': 38.978965, 'value': 1},
  {'lng': 121.586898, 'lat': 38.978955, 'value': 1},
  {'lng': 121.586897, 'lat': 38.978962, 'value': 1},
  {'lng': 121.610392, 'lat': 38.9696, 'value': 46},
  {'lng': 121.610272, 'lat': 38.96916, 'value': 34},
  {'lng': 121.59327, 'lat': 38.965998, 'value': 49},
  {'lng': 121.586055, 'lat': 38.962798, 'value': 46},
  {'lng': 121.584907, 'lat': 38.957783, 'value': 51},
  {'lng': 121.584477, 'lat': 38.954287, 'value': 38},
  {'lng': 121.581917, 'lat': 38.949253, 'value': 18},
  {'lng': 121.596318, 'lat': 38.930603, 'value': 17},
  {'lng': 121.596313, 'lat': 38.926668, 'value': 1},
  {'lng': 121.596325, 'lat': 38.923937, 'value': 46},
  {'lng': 121.596672, 'lat': 38.920798, 'value': 1},
  {'lng': 121.623058, 'lat': 38.918447, 'value': 48},
  {'lng': 121.620963, 'lat': 38.918323, 'value': 26},
  {'lng': 121.616528, 'lat': 38.916023, 'value': 21},
  {'lng': 121.611473, 'lat': 38.914562, 'value': 54},
  {'lng': 121.60677, 'lat': 38.913123, 'value': 32},
  {'lng': 121.605037, 'lat': 38.913678, 'value': 1},
  {'lng': 121.597953, 'lat': 38.917113, 'value': 1},
  {'lng': 121.597237, 'lat': 38.919063, 'value': 48},
  {'lng': 121.596903, 'lat': 38.92565, 'value': 19},
  {'lng': 121.596903, 'lat': 38.927843, 'value': 15},
  {'lng': 121.5967, 'lat': 38.929787, 'value': 1},
  {'lng': 121.58009, 'lat': 38.941535, 'value': 53},
  {'lng': 121.582415, 'lat': 38.94672, 'value': 19},
  {'lng': 121.585448, 'lat': 38.958932, 'value': 53},
  {'lng': 121.58663, 'lat': 38.963353, 'value': 25},
  {'lng': 121.590812, 'lat': 38.965563, 'value': 38},
  {'lng': 121.595928, 'lat': 38.966118, 'value': 42},
  {'lng': 121.602982, 'lat': 38.967392, 'value': 1},
  {'lng': 121.614997, 'lat': 38.97251, 'value': 15},
  {'lng': 121.620017, 'lat': 38.972598, 'value': 9},
  {'lng': 121.609378, 'lat': 38.968907, 'value': 37},
  {'lng': 121.60554, 'lat': 38.968117, 'value': 33},
  {'lng': 121.600325, 'lat': 38.967057, 'value': 8},
  {'lng': 121.589373, 'lat': 38.965568, 'value': 43},
  {'lng': 121.584738, 'lat': 38.95696, 'value': 7},
  {'lng': 121.584422, 'lat': 38.954388, 'value': 26},
  {'lng': 121.58197, 'lat': 38.949657, 'value': 36},
  {'lng': 121.58393, 'lat': 38.937817, 'value': 44},
  {'lng': 121.592348, 'lat': 38.934105, 'value': 1},
  {'lng': 121.596423, 'lat': 38.92239, 'value': 46},
  {'lng': 121.596503, 'lat': 38.920975, 'value': 11},
  {'lng': 121.598377, 'lat': 38.916663, 'value': 40},
  {'lng': 121.60194, 'lat': 38.914997, 'value': 41},
  {'lng': 121.62729, 'lat': 38.91898, 'value': 10},
  {'lng': 121.62557, 'lat': 38.918547, 'value': 1},
  {'lng': 121.625603, 'lat': 38.918533, 'value': 1},
  {'lng': 121.61969, 'lat': 38.917602, 'value': 12},
  {'lng': 121.615255, 'lat': 38.915693, 'value': 56},
  {'lng': 121.612928, 'lat': 38.915093, 'value': 1},
  {'lng': 121.611543, 'lat': 38.914588, 'value': 16},
  {'lng': 121.603425, 'lat': 38.914335, 'value': 35},
  {'lng': 121.60159, 'lat': 38.915253, 'value': 1},
  {'lng': 121.597407, 'lat': 38.91761, 'value': 33},
  {'lng': 121.597013, 'lat': 38.920295, 'value': 1},
  {'lng': 121.59672, 'lat': 38.924583, 'value': 29},
  {'lng': 121.586685, 'lat': 38.936418, 'value': 41},
  {'lng': 121.581917, 'lat': 38.939862, 'value': 33},
  {'lng': 121.581418, 'lat': 38.944443, 'value': 50},
  {'lng': 121.582418, 'lat': 38.948855, 'value': 25},
  {'lng': 121.584715, 'lat': 38.953748, 'value': 1},
  {'lng': 121.58649, 'lat': 38.962657, 'value': 5},
  {'lng': 121.590325, 'lat': 38.965488, 'value': 36},
  {'lng': 121.60027, 'lat': 38.966825, 'value': 1},
  {'lng': 121.619383, 'lat': 38.972638, 'value': 32},
  {'lng': 121.621635, 'lat': 38.97303, 'value': 1},
  {'lng': 121.616443, 'lat': 38.97472, 'value': 35},
  {'lng': 121.613515, 'lat': 38.972533, 'value': 25},
  {'lng': 121.61027, 'lat': 38.9692, 'value': 33},
  {'lng': 121.604007, 'lat': 38.967765, 'value': 28},
  {'lng': 121.583582, 'lat': 38.966645, 'value': 33},
  {'lng': 121.582277, 'lat': 38.96718, 'value': 29},
  {'lng': 121.574132, 'lat': 38.968263, 'value': 44},
  {'lng': 121.564705, 'lat': 38.965398, 'value': 12},
  {'lng': 121.564907, 'lat': 38.96971, 'value': 26},
  {'lng': 121.572763, 'lat': 38.968573, 'value': 1},
  {'lng': 121.580358, 'lat': 38.967555, 'value': 49},
  {'lng': 121.582745, 'lat': 38.966745, 'value': 21},
  {'lng': 121.586813, 'lat': 38.965262, 'value': 15},
  {'lng': 121.582952, 'lat': 38.96805, 'value': 40},
  {'lng': 121.58402, 'lat': 38.974953, 'value': 48},
  {'lng': 121.587382, 'lat': 38.979498, 'value': 12},
  {'lng': 121.583733, 'lat': 38.975607, 'value': 42},
  {'lng': 121.586297, 'lat': 38.965417, 'value': 1},
  {'lng': 121.586712, 'lat': 38.965083, 'value': 17},
  {'lng': 121.603035, 'lat': 38.96741, 'value': 43},
  {'lng': 121.610348, 'lat': 38.969027, 'value': 24},
  {'lng': 121.612747, 'lat': 38.972423, 'value': 42},
  {'lng': 121.619812, 'lat': 38.972623, 'value': 28},
  {'lng': 121.622137, 'lat': 38.973978, 'value': 1},
  {'lng': 121.617838, 'lat': 38.972612, 'value': 35},
  {'lng': 121.613225, 'lat': 38.972498, 'value': 1},
  {'lng': 121.60615, 'lat': 38.96824, 'value': 1},
  {'lng': 121.6003, 'lat': 38.96703, 'value': 13},
  {'lng': 121.595805, 'lat': 38.966245, 'value': 36},
  {'lng': 121.580763, 'lat': 38.944303, 'value': 35},
  {'lng': 121.579053, 'lat': 38.942318, 'value': 15},
  {'lng': 121.584233, 'lat': 38.937493, 'value': 42},
  {'lng': 121.590422, 'lat': 38.935587, 'value': 46},
  {'lng': 121.594868, 'lat': 38.932007, 'value': 40},
  {'lng': 121.596475, 'lat': 38.921077, 'value': 1},
  {'lng': 121.597078, 'lat': 38.917957, 'value': 22},
  {'lng': 121.604353, 'lat': 38.913885, 'value': 1},
  {'lng': 121.605903, 'lat': 38.91321, 'value': 21},
  {'lng': 121.616913, 'lat': 38.916168, 'value': 41},
  {'lng': 121.624313, 'lat': 38.91851, 'value': 44},
  {'lng': 121.627542, 'lat': 38.91975, 'value': 6},
  {'lng': 121.627005, 'lat': 38.919127, 'value': 29},
  {'lng': 121.61639, 'lat': 38.916098, 'value': 1},
  {'lng': 121.612455, 'lat': 38.914905, 'value': 28},
  {'lng': 121.607432, 'lat': 38.913398, 'value': 29},
  {'lng': 121.605423, 'lat': 38.913448, 'value': 20},
  {'lng': 121.600305, 'lat': 38.915872, 'value': 43},
  {'lng': 121.597223, 'lat': 38.918417, 'value': 44},
  {'lng': 121.596655, 'lat': 38.92991, 'value': 49},
  {'lng': 121.593055, 'lat': 38.933747, 'value': 10},
  {'lng': 121.586145, 'lat': 38.936507, 'value': 39},
  {'lng': 121.582495, 'lat': 38.93936, 'value': 1},
  {'lng': 121.579912, 'lat': 38.94165, 'value': 47},
  {'lng': 121.58234, 'lat': 38.94684, 'value': 6},
  {'lng': 121.583833, 'lat': 38.952202, 'value': 28},
  {'lng': 121.584963, 'lat': 38.9546, 'value': 1},
  {'lng': 121.585497, 'lat': 38.959485, 'value': 45},
  {'lng': 121.586472, 'lat': 38.96274, 'value': 31},
  {'lng': 121.591027, 'lat': 38.96557, 'value': 41},
  {'lng': 121.59472, 'lat': 38.965985, 'value': 28},
  {'lng': 121.609067, 'lat': 38.968713, 'value': 40},
  {'lng': 121.610437, 'lat': 38.972055, 'value': 35},
  {'lng': 121.61055, 'lat': 38.972205, 'value': 35},
  {'lng': 121.620625, 'lat': 38.972623, 'value': 1},
  {'lng': 121.622327, 'lat': 38.974237, 'value': 27},
  {'lng': 121.622177, 'lat': 38.976207, 'value': 31},
  {'lng': 121.621168, 'lat': 38.975848, 'value': 10},
  {'lng': 121.619598, 'lat': 38.975368, 'value': 26},
  {'lng': 121.610557, 'lat': 38.972353, 'value': 31},
  {'lng': 121.610402, 'lat': 38.972257, 'value': 31},
  {'lng': 121.607762, 'lat': 38.968612, 'value': 42},
  {'lng': 121.602182, 'lat': 38.967467, 'value': 36},
  {'lng': 121.597755, 'lat': 38.966527, 'value': 28},
  {'lng': 121.586255, 'lat': 38.96345, 'value': 21},
  {'lng': 121.585122, 'lat': 38.960047, 'value': 43},
  {'lng': 121.581912, 'lat': 38.947893, 'value': 47},
  {'lng': 121.581343, 'lat': 38.944765, 'value': 1},
  {'lng': 121.57951, 'lat': 38.941642, 'value': 42},
  {'lng': 121.589615, 'lat': 38.935923, 'value': 52},
  {'lng': 121.594463, 'lat': 38.932345, 'value': 45},
  {'lng': 121.596553, 'lat': 38.920985, 'value': 33},
  {'lng': 121.598788, 'lat': 38.916472, 'value': 30},
  {'lng': 121.600722, 'lat': 38.915588, 'value': 1},
  {'lng': 121.61444, 'lat': 38.91536, 'value': 43},
  {'lng': 121.610655, 'lat': 38.914367, 'value': 45},
  {'lng': 121.605222, 'lat': 38.913542, 'value': 40},
  {'lng': 121.60172, 'lat': 38.91523, 'value': 1},
  {'lng': 121.596823, 'lat': 38.92302, 'value': 57},
  {'lng': 121.596747, 'lat': 38.92602, 'value': 1},
  {'lng': 121.593955, 'lat': 38.93308, 'value': 56},
  {'lng': 121.587988, 'lat': 38.936275, 'value': 32},
  {'lng': 121.584462, 'lat': 38.937658, 'value': 1},
  {'lng': 121.58068, 'lat': 38.943783, 'value': 61},
  {'lng': 121.58504, 'lat': 38.954743, 'value': 1},
  {'lng': 121.585952, 'lat': 38.961433, 'value': 56},
  {'lng': 121.590883, 'lat': 38.965565, 'value': 59},
  {'lng': 121.596597, 'lat': 38.96619, 'value': 19},
  {'lng': 121.610477, 'lat': 38.970088, 'value': 15},
  {'lng': 121.612992, 'lat': 38.97243, 'value': 13},
  {'lng': 121.621762, 'lat': 38.973155, 'value': 9},
  {'lng': 121.615697, 'lat': 38.97369, 'value': 16},
  {'lng': 121.610247, 'lat': 38.971495, 'value': 47},
  {'lng': 121.604022, 'lat': 38.9678, 'value': 46},
  {'lng': 121.582923, 'lat': 38.967668, 'value': 44},
  {'lng': 121.583847, 'lat': 38.97484, 'value': 49},
  {'lng': 121.58629, 'lat': 38.979472, 'value': 1},
  {'lng': 121.586378, 'lat': 38.979518, 'value': 1},
  {'lng': 121.586803, 'lat': 38.979102, 'value': 11}]}

In [28]:
with open('/Users/afetmin/Desktop/JavaScript-Demo/leaflet测试/data.json', 'w') as f:
    json.dump(data,f)

In [20]:
new_df = pd.DataFrame(data)
new_df

            lng        lat  value
0    121.586830  38.978985      1
1    121.586863  38.978992      1
2    121.586877  38.978983      1
3    121.586863  38.978953      1
4    121.586882  38.978950      1
..          ...        ...    ...
205  121.582923  38.967668     44
206  121.583847  38.974840     49
207  121.586290  38.979472      1
208  121.586378  38.979518      1
209  121.586803  38.979102     11

[210 rows x 3 columns]

In [23]:
new_df.to_json('/Users/afetmin/Desktop/JavaScript-Demo/leaflet测试/data.json')